* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  background: url("./images/anas-alshanti-feXpdV001o4-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  background: #1f2235;
  z-index: 1;
}

.navbar__container {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.navbar__righ {
  display: flex;
  list-style-type: none;
}

.navbar__righ li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 0 15px;
}
/* Helpers */
.container {
  width: 1200px;
  margin: 0 auto;
}

.bgMain {
  background: #1f2235;
}

.h-650 {
  height: 450px;
}

.alignCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

/* Grid System */
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33333333333333%;
}
.col-3 {
  width: 50%;
}

/* header */
.header__content {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
}

.bgMain {
  background: #1f2235;
}

.header__ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 20px;
}

.header__ul li {
  width: 50px;
  height: 50px;
  border: 2px solid #ff4a57;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.header__ul li:forst-child {
  margin-left: 0;
}

.header__section h1 {
  font-size: 57pxpx;
  font-weight: 700;
  margin-bottom: 20px;
}

.header__section p {
  font-size: 26px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 50px;
}

.btn {
  outline: none;
  border: none;
  color: #fff;
  
  text-decoration: none;
}

.btn-outline {
  border: 2px solid #ff4a57;
  border-radius: 50px;
  padding: 13px 40px;
}

.btn-smart {
  background: #ff4a57;
  padding: 13px 40px;
  border-radius: 50px;
}

.play {
  font-size: 25px !important;
  padding-top: 10px;
}

/* Services */
.services {
  background: #1f2235;
  padding: 50px 0;
  color: #fff;
}

.common {
  width: 33.3333333333333%;
  margin: 20px auto;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
  font-weight: 500;
  color: #ff4a57;
  font-size: 16px;
}

.mainHeader {
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
}

.mainContent {
  font-size: 16px;
  color: #dfdfdf;
}

.commonBorder {
  background: #ff4a57;
  height: 3px;
  width: 100px;
  margin: 30px auto;
}

.services__box {
  padding: 40px;
  background: #23263a;
  color: #fff;
  margin: 20px;
  transition: all.5s linear;
}

.services__box:hover {
  background: #ff4a57;
}

.commonIcons {
  font-size: 40px;
  color: #ff4a57;
  margin-bottom: 15px;
}

.services__box:hover .commonIcons {
  color: #fff;
}

.services__box-header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services__box-p {
  font-size: 14px;
  color: #dfdfdf;
}

.about {
  width: 100%;
  background: #23263a;
  padding: 10px 0;
}

.about__img {
  padding: 40px;
}

.about__img img {
  width: 100%;
}

.about__info {
  color: #fff;
}

.about__info h1 {
  margin-bottom: 30px;
}

.about__info-p1 {
  font-size: 14px;
  margin-bottom: 20px;
}

.about__info-p2 {
  font-size: 14px;
}

.info__contacts {
  margin-top: 20px;
}

.info__contacts strong {
  color: #ff4a57;
}

.info__contacts p {
  margin-top: 3px;
}

.info__contacts .col-6 {
  margin: 10px 0;
}

/* Pricess */
.prices {
  width: 100%;
  padding: 100px 0;
  background: #1f2235;
}

.price {
  background: #23263a;
  padding: 25px;
  border-radius: 8px;
  margin: 35px 20px;
  color: #fff;
  text-align: center;
}

.priceHeading {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.price__rs {
  font-size: 70px;
  font-weight: 200;
  margin-bottom: 15px;
}

.price__rs span {
  font-size: 25px;
}

.price ul {
  list-style-type: none;
}
.price ul li {
  margin: 5px 0;
  border-bottom: 1px solid #3c3c3c;
  font-size: 14px;
  padding: 15px 0;
}

.price__btn {
  margin-top: 40px;
}

.Somemore {
  padding: 5px 0;
  background: #1f2235;
}

.containers {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin: 0 auto;
  padding: 20px;
}

.containerSection p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}

.SomemoretCircles {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
}
.SomemoretCircles ul {
  display: flex;
}

.SomemoretCircles li a {
  width: 50px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #1f2235;
  margin: 0 12px;
}

.contactCircles {
  justify-content: flex-start;
}
.contactCircles ul {
  display: flex;
}
.contactCircles li a {
  width: 50px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #1f2235;
  margin: 0 12px;
}

.Contact {
  width: 100%;
  background: #23263a;
  padding: 10px 0;
}

.contact__box {
  background:  #23263a;
  display: flex;
  align-items: center;
}

.contact__left {
  flex-basis: 60%;
  padding: 40px 60px;
  color: #fff;
}

.contact__right {
  flex-basis: 40%;
  padding: 40px;
  color: #fff;
}
.contact__right h3 {
  font-size: 40px;
  color: #fff;
}

.h1 {
  margin-bottom: 10px;
}

.input__box {
  display: flex;
  margin: 13px;
  padding: 5px;
}

.input__text {
  padding: 10px;
}

.input__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.input__row .input__group {
  flex-basis: 45%;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}

.textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

.button {
  background: #ff4a57;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
}



.contact__right h3 {
  font-weight: 600;
  margin-bottom: 30px;
}




.Somemore__name {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin: 0 auto;
  padding: 10px;
}
.Somemore__name2 {
  text-align: center;
  font-size: 20px;
  color: #fff;
  margin: 0 auto;
  padding: 5px;
}























@media(max-width: 765px) {
  .container {
    width: 100%;
    padding: 0 50px;
  }
  .col-6 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .navbar__righ {
    flex-direction: row;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #1f2235;

  }
  .navbar__righ li a {
    display: block;
    padding: 20px 0;
    font-size: 14px;
  }
  .header__section h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .header__section p {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
  }
  .common {
    width: 100%;
  }
  .h-650 {
    height: auto;
  }
}