body {
  height: 100vh;
  font-family: 'Dongle', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;